.navbar-collapse{
    justify-content: end;
}

.bg-dark{
    background-color: #FFFFFF !important;
    box-shadow: 0 0 5px grey;
}

.navbar-brand{
    color: #88D136 !important;
    font-weight: bold;
    margin: 0;
}

.navbarBrand{
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
}

.nav-link{
    color: #88D136 !important;
}

#navbarScroll{
    position: relative;
}

.container-sm{
    max-width: 640px !important;
}

#phone-small{
    display: none;
}

.slogan{
    font-weight: 200;
}

.image{
    max-width: 400px;
    max-height: auto;
    border-radius: 25px;
}

.green-button{
    background: linear-gradient(200.32deg,#86c705 23.46%,#6db300 69.93%);
    padding: 25px;
    border-radius: 40px;
    color: white;
    width: max(300px, 10%, 15vw);
    font-size: 2rem;
}

.navbarBrandContainer{
    width: 85%;
    padding-left: 75px;
}

.contact-info{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-right: 15px;
    min-width: 290px;
    margin-top: 30px;
}

.phoneNumber{
    width: 90%;
    padding: 0;
    margin: 0;
    color: blue;
    font-weight: bold;
    position: relative;
}

.phone-small-p{
    padding: 0;
    margin: 0;
    font-weight: bold;
    position: relative;
    width: 100% !important;
}

.about{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.overlay{
    width: 100%;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.44);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-profile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.work{
    color: black;
    height: auto;
    position: relative;
    z-index: -2000;
}

.cards-backdrop{
    padding: 20px;
    background-color: white;
    width: 80%;
    left: 10%;
    position: relative;
    border-radius: 25px;
    box-shadow: -3px 16px 25px 0px gray;
}

#work{
    height: auto !important;
}

.carousel{
    max-width: 350px !important
}

.carousel-inner{
    border-radius: 25px;
}

.referenceLink{
    cursor: pointer;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    font-size: 2rem;
    color: rgba(0, 0, 0);        
    background: linear-gradient(200.32deg,#86c705 23.46%,#6db300 69.93%);
    background:  no-repeat 0 100%;
    background-image: linear-gradient(200.32deg,#86c705 23.46%,#6db300 69.93%);
    background-size: 0% 0;
    border-radius: 25px;
    transition: background-size .3s ease-in-out, border-radius .3s ease-in-out, color .2s ease-in-out;
}

.active{
    color: white;
    transition: background-size .2s ease-in-out, color .2s ease-in-out;
    background-size: 100% 100%;
}

.referenceImg{
    width: 55vw;
    height: 30vw;
    border-radius: 24px;
}

.title-div{
    width: 100%;
    padding: 25px;
    color: white;
    z-index: 2000;
    position: relative;
    display: flex;
    justify-content: center;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    position: relative;
}

.cardContainer{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cardIllustration{
    width: 350px;
    height: auto;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.cardIllustration img{
    height: auto;
    width: 100%;
    border-radius: 15px;
}

.card{
    height: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    font-weight: bold;
    background-color: whitesmoke;
    border: 0 !important;
    border-radius: 25px !important;
    width: 75% !important;
    top: 0 !important;
    padding: 15px !important;
}

.card .title {
    position: relative;
    width: 100%;
    height: 30%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card .content {
    position: relative;
    width: 100%;
    height: 70%;
    background-color: rgb(212, 212, 212);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.card p {
    font-weight: 400 !important;
}

.work-filler{
    color: black;
    height: auto;
    margin-top: 105px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work-list{
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: whitesmoke;
    width: 85vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-inline: 25px;
    box-shadow: -3px 16px 25px 0px gray;
    border-radius: 25px;
}

.work-list li{
    width: 25%;
    font-size: 1.5rem;
}

.footer{
    position: absolute;
    bottom: auto;
    width: 100%;
    height: 50px;
    margin-top: 25px;
}

#villam{
    transform-box: fill-box;
    transform-origin: top;
    animation: dorog 6s ease-in-out infinite;
}

.hamburger-react{
    display: block;
}

.hamburger-div{
    width: 75px;
    height: 75px;
    position: fixed;
    right: min(5%, 50px, 25vw);
    top: 80%;
    z-index: 3000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(200.32deg,#86c705 23.46%,#6db300 69.93%);
    border-radius: 50%;
}

.popup-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0000007a;
    position: fixed;
    z-index: 4000;
}

.popup{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    z-index: 4000;
    background-color: white;
    margin-inline: 4rem;
    border-radius: 25px;
}

.link-button{
    margin: 0 auto;
    border: none;
    background-color: green;
    color: white;
    font-size: 2.2rem;
    font-weight: bold;
    padding: 15px;
    border-radius: 25px;
}

.red{
    color: red;
    font-size: 2rem;
    padding-inline: 2rem;
    height: 470px;
    padding-block: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@keyframes dorog{
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(20deg);
    }
    75% {
        transform: rotate(-20deg);
    }

}

@media screen and (max-width: 1500px) {
    #svg{
        display: none;
    }

    #about{
        height: auto !important;
    }

    .aboutText{
        margin-top: 25px;
        width: 85vw !important;
    }

    .referenceImg{
        width: 75vw;
        height: 35vw;
    }
}

@media screen and (max-width: 1350px) {
    .slogan{
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    #svg{
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .phoneNumber{
        font-size: .8rem;
    }

    .contact-info{
        min-width: 192px;
    }

    .cardContainer{
        flex-direction: column;
    }

    .work-flex{
        flex-direction: column !important;
        justify-content: center !important;
        width: auto;
        align-items: center;
    }

    .work-flex p {
        width: 100% !important;
    }

    .cards-backdrop{
        width: 90vw !important;
        left: 5vw !important;
    }

    .work-filler{
        width: 100vw !important;
        left: 0 !important;
        margin-top: 150px;
    }

    .work-list{
        width: 90vw;
    }

    .work-list li{
        font-size: 1.5rem;
    }

    .card{
        width: 98% !important;
    }

    #logo{
        display: none;
    }

    .navbarBrandContainer{
        padding: 0;
        justify-content: center !important;
    }

}

@media screen and (max-width: 800px){
    .navbarBrand{
        font-size: 2rem;
    }

    .referenceImg{
        width: 90vw;
        height: 90vw;
    }

    .navbar{
        min-height: 110px !important;
    }
}

@media screen and (max-width: 600px) {
    .navBar {
        display: none;
    }

    .navbarBrandContainer{
        width: 100%;
    }

    .cards-backdrop{
        width: 100vw !important;
        left: 0 !important;
        border-radius: 0 !important;
        transition: border-radius .5s ease-in-out;
        box-shadow: none;
    }

    .text-profile {
        flex-direction: column;
    }

    .about{
        width: 100vw !important;
        left: 0 !important;
    }

    .aboutText{
        left: -8% !important;
    }

    .card {
        width: 98vw !important;
    }

    .card p {
        width: 100% !important;
    }

    p {
        width: 90vw !important;
    }

    .work-list{
        width: 98vw;
    }
    
    .work-list li{
        font-size: 1rem;
    }

    .contact-info{
        display: none;
    }

    #phone-small{
        display: block;
        font-size: 2rem;
    }
}

@media screen and (max-width: 600px) {
    .work-list{
        flex-direction: column;
    }
    .work-list li{
        width: 75%;
        margin: 5px;
    }

    .mobileNavContainer{
        width: 100vw !important;
    }

    .nav-link{
        font-size: 3rem !important;
    }
}