@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&display=swap');

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Cabin', 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white !important;
  overflow-x: hidden;
  font-size: 1.2rem !important;
  box-sizing: border-box;
  font-weight: 300 !important;
}